.footer{
    padding-top:60px;
    padding-bottom: 60px;
   
    background-color: var(--hero-footer-background-color);
  }
  
  .footer__info-container{
    display: flex;
    align-items: baseline;
  }
  
  .footer__adress-group{
    margin-right: 70px;
  }
  
  .footer__logo{
    font-family: 'Raleway', 'Sans-Serif';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  
    margin-bottom: 20px;
    display: block;
    
    color: var(--accent-color);
  }
  
  .footer__logo-color{
    color: var(--background-color);
  }
  
  .footer__list{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin: 0;
    
    font-style: normal; 
    list-style: none;
    padding-left: 0;  
  }
  
  .footer__adress{
    font-style: normal;
    line-height: 24px;
  
    color: var(--background-color);
  }
  
  .footer__adress-item{
    margin-top: 9px;
  }
  
  .footer__link{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  
    transition-property: inherit;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);  
    color:var(--footer-links-color); 
  }
  
  .nav__link:hover,
  .nav__link:focus,
  .footer__link:hover, 
  .footer__link:focus{
    color: var(--accent-color);
  }

  .footer-invite-container{
    margin: 0;
  }
  
  .footer__heading{
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    
    margin-bottom: 20px;
    color: var(--background-color);
  }
  
  .footer-socials__list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: 0;
  }
  
  .footer-socials__item:not(:last-child){
    margin-right: 10px;
  }
  
  .footer-socials__link{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 44px;
    height: 44px;
    
    border-radius:50%;
    opacity: 0.9;
    background-color: var(--footer-socials-color);
    transition-property: inherit;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
  
  .footer-socials__link:hover,
  .footer-socials__link:focus{
    background-color: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .footer-socials__icon{
   fill: var(--background-color);
  }

  .footer__msg-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: auto;  
  }
  
  .footer__msg-form{
    display: flex;
    align-items: baseline;
  
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer__input{
    font-family: 'Roboto', 'Sans-Serif';
    font-size: 14px;
    letter-spacing: 0.02em;
    background-color: transparent;  
    color: #FFFFFF;
    box-sizing: border-box;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    display: block;
    padding: 15px 16px;
      
    width: 358px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
  }


  .footer__btn{
    font-family: 'Roboto', 'Sans-Serif';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border: 0;
    border-radius: 4px;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 11px 29px;
    cursor: pointer;
    margin-left: 12px;
    display: flex;
    align-items: center;
  
    transition-property: inherit;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    color: var(--background-color);
    background-color: var(--accent-color);
  }
  
  .icon-send{
    fill: #FFFFFF;
    margin-left: 10px;
  }



